apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 16
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchLabels:
                app: flask-app
            topologyKey: kubernetes.io/hostname
      containers:
      - name: flask-app
        image: 192.168.2.3:5000/flask-llm-app
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
        env:
        - name: LLM_MODEL_DIR
          value: /models/models
        - name: NODE_NAME         # <-- new environment variable
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        volumeMounts:
        - name: models-volume
          mountPath: /models
      volumes:
      - name: models-volume
        persistentVolumeClaim:
          claimName: models-pvc

