---
- name: Setup a newly inserted worker
  hosts: k3s_agents
  become: yes
  vars:
    k3s_url: "https://192.168.2.2:6443"
    k3s_token: "<K3S_TOKEN>"

  tasks:

    - name: Set pi_name, color, and color_code
      set_fact:
        pi_name: "{{ inventory_hostname }}"
        node_color: "{{ inventory_hostname | regex_replace('[1-8]$', '') }}"
        color_code: >
          {{ '38;5;226' if inventory_hostname.startswith('yellow') else
             '38;5;46' if inventory_hostname.startswith('green') else
             '0' }}

    - name: Ensure /boot/firmware directory exists
      file:
        path: /boot/firmware
        state: directory
        owner: root
        group: root
        mode: '0755'

    - name: Create vmlinuz permissions trigger script
      copy:
        dest: /etc/kernel/postinst.d/zzz-chmod-vmlinuz
        mode: '0755'
        owner: root
        group: root
        content: |
          #!/bin/sh -e
          chmod 0644 /boot/vmlinuz-*

    - name: Fancy colored name
      replace:
        path: "/home/ubuntu/.bashrc"
        regexp: '^PS1=.*$'
        replace: "PS1='\\\\[\\\\033[1;37m\\\\]\\\\u\\\\[\\\\033[0m\\\\]@\\\\[\\\\033[{{ color_code }}m\\\\]{{ pi_name }}\\\\[\\\\033[0m\\\\]\\\\[\\\\033[01;34m\\\\]\\\\w\\\\[\\\\033[00m\\\\]\\\\$ '"

    - name: Update apt cache (Debian/Ubuntu)
      apt:
        update_cache: yes
      when: ansible_facts['os_family'] == "Debian"

    - name: Set timezone to Europe/Athens
      become: true
      ansible.builtin.timezone:
        name: Europe/Athens

    - name: Install fuse-overlayfs package (Debian/Ubuntu)
      apt:
        name: fuse-overlayfs
        state: present
      when: ansible_facts['os_family'] == "Debian"

    - name: Download and run K3s agent installer
      shell: |
        set -euxo pipefail
        curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="--snapshotter=fuse-overlayfs --kubelet-arg=runtime-request-timeout=5m --kubelet-arg=node-status-update-frequency=10s" \
          INSTALL_K3S_SKIP_SSL_VERIFY=true \
          K3S_NODE_NAME={{ inventory_hostname }} \
          K3S_URL={{ k3s_url }} \
          K3S_TOKEN={{ k3s_token }} \
          sh -
      args:
        executable: /bin/bash
    
    - name: Display completion message
      debug:
        msg: "Done."

